{% extends 'flatpages/default.html' %}
{% load custom_tags %}


{% block title %}

    Task

{% endblock title %}


{% block content %}

    <h1>Журнал заявок</h1>
    <h3>{{ time_now|date:'M d Y' }}</h3>
            {% if is_not_executors %}
            <button> <a href="upgrade/"> Стать исполнителем!</a> </button>
            {% endif %}
    <h1></h1>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <table>
                <tr>
                   <th>Категория</th>
                   <th>Описание</th>
                   <th>Место/Адрес</th>
                   <th>Клиент</th>
                   <th>Дата и время поступления</th>
                   <th>Статус</th>
                   <th>Исполнитель</th>
                   <th>Дата и время выполнения</th>
                </tr>
        {% for task in task_list %}
        <tr>
                    <td>{{ task.category }}</td>
                    <td><a href="{% url 'tasks' task.id %}">{{ task.text|truncatewords:20 }}</a></td>
                    <td>{{ task.place }}</td>
                    <td>{{ task.customer }}</td>
                    <td>{{ task.time_in|date:'d M Y' }}</td>
                    <td>{{ task.get_complete_display }}</td>
                    <td>{{ task.executor }}</td>
                    <td>{{ task.time_out|date:'d M Y' }}</td>
        {% endfor %}
           </table>

    <!--Пагинация-->
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}